{% from 'macros.html' import render_field %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>URL Decoder</title>
</head>
<body>

 <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <!-- messages is a list of tuples, containing the category, then the message.-->
            <!-- this loops through and unpacks them -->
            <script>
                window.setTimeout(function() {
                document.getElementById("notification").style.display= "none";
                }, 2000);
            </script>
            {% for category, message in messages %}

                <!-- this sets the notifications class to the category so we can style them different-->
                <!-- then prints the message in the div-->
                <div id="notification" class="col-12 notification {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
 <!--\Flash-->

    <div class="container">
  <!--  <img class="logo img-responsive" src="/static/img/logo.png">-->
        <div class="row">
            <form method="POST" action="" class="form col-md-11 col-sm-12">
                {{form.hidden_tag()}}
                {% for field in form %}
                    {{ render_field(field) }}
                {% endfor %}
            {% if url %}
                {% if url != "fail" %}
                    <button type="button" class="submit" id="copy" onclick="copy_text()">Copy</button>
                    <a class="reset" href = "{{ url_for('index') }}"><button type="button" class="submit">Reset</button></a>
                    <script type="text/javascript" language="JavaScript">
                        document.getElementById("field").style.backgroundColor = "rgba(89, 209, 101, 0.2)"
                        setTimeout(function(){
                            document.getElementById("field").style.backgroundColor = "white"
                        }, 2000);
                    </script>
                {% else %}
                    <button type="submit" class="submit">Decode</button>
                    <script type="text/javascript" language="JavaScript">
                        document.getElementById("field").style.backgroundColor = "rgba(255, 50, 50, 0.2)"
                          setTimeout(function(){
                            document.getElementById("field").style.backgroundColor = "white"
                        }, 2000);
                    </script>
                {% endif %}
            {% else %}
                <button type="submit" class="submit">Decode</button>
            {% endif %}
            </form>
        </div>
    </div>
<script src="/static/scripts.js" type="text/javascript"></script>
</body>
</html>